<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/adddate" method="post">
    <input type="text" name="name" id="name"  placeholder="name" required="required">
    <input type="text" name="date" id="date"  placeholder="date" required="required">
    <input type="number" name="dur" id="dur"  placeholder="dur" required="required">
    <input type="text" name="place" id="place"  placeholder="place" required="required">
    <input type="submit" class="btn btn-primary btn-block btn-large">
</form>
</body>
</html>