<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="https://toppng.com/uploads/preview/heart-blue-11550711289cfz19utgpc.png" type="image/x-icon">
        <title>Better Days</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

        <link href="./css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/owl.carousel.min.css" rel="stylesheet">

        <link href="css/owl.theme.default.min.css" rel="stylesheet">

        <link href="css/templatemo-medic-care.css" rel="stylesheet">





        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
        <script type="text/javascript">
          (function() {
          emailjs.init("user_pc7cXKfPxFRQdKFesnakZ");
          })();
       </script>

        <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '8e6dd012a44abe370fafbef6f664d3fb9b90b74c';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>



    </head >
    
    <body id="top">
    
        <main>

            <nav th:replace="fag/nav"></nav>
            <section class="section-padding pb-0" id="timeline">
                <div class="container">
                    <div class="row">

                        <h2 class="text-center mb-lg-5 mb-4">Addiction Recovery Timeline</h2>
                        
                        <div class="timeline">
                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Awareness</h3>

                                    <p>An addict starts their recovery process by becoming aware that their substance abuse is a problem and deciding to do something about it. For this reason, this step is sometimes alternately called “recognition” or “acknowledgement.” Regardless of its name, the key component is that the addict, not a friend or family member, admits there is a problem that needs to be solved and develops a desire to make it happen..</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-patch-check-fill timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time>Step One</time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Consideration</h3>

                                    <p>Once an addict has recognized that their drug use is a problem, the next step is for them to reflect further on their life and begin to research more about addiction. This can be to understand how it happened to them, how strong its hold can be, and most importantly, what can be done to escape it. At this stage, the user will have a clearer understanding than before and seek to learn more about the damage they caused, and the lives of family, friends and colleagues.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-patch-check-fill timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time>Step two</time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Exploring Recovery</h3>

                                    <p>After the addict has acknowledged their addiction and taken more time to learn about it, it becomes time for them to begin figuring out what their options are for getting help. This can happen in multiple ways, such as talking with friends and family that have been in their position before or doing more research online. At this stage, recovery moves from reflection, research and desire to actively starting down the road to becoming drug-free. Stage 3 is where many addicts decide to visit a rehab center to explore the possibility or even take the leap and enter a rehab program.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-patch-check-fill timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time>Step Three</time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Early Recovery</h3>

                                    <p class="mb-0 pb-0">If the addict has not already entered a rehab center, this happens at the beginning of Stage 4, which is characterized by the individual putting their recovery plan into action and making the effort to see it through. The first step of this will be choosing what kind of recovery program would be best for them. There are many different options to choose from, but the most effective of these is known as inpatient care, which is when the patient resides at the facility while receiving treatment.</p>
                                    
                                    <p></p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-patch-check-fill timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time>Step four</time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Active Recovery and Maintenance</h3>

                                    <p>As addiction is a chronic and progressive brain disease, there is no way to completely cure it. Instead, the most that can be done is to help a person overcome their substance abuse and provide them with the necessary tools to maintain abstinence on a daily basis.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-patch-check-fill timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time>Step Five</time>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

         
        </main>

       <footer th:replace="fag/footer"></footer>

        <!-- JAVASCRIPT FILES -->

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/scrollspy.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/script.js"></script>

    </body>
</html>