<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<div>
    <form action="/signup" method="post">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName">
        <label for="userName">User Name</label>
        <input type="text" name="userName" id="userName">
        <label for="nickName">Nick Name</label>
        <input type="text" name="nickName" id="nickName">
        <label for="email">email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="age">Age</label>
        <input type="number" name="age" id="age">
        <input type="submit">
    </form>
</div>
<a href="/login">Login</a></button>
</body>
</html>